.container {
    background-color: #131744;
    margin: 0;
    padding: 0.5em;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navcontainer {
    display: inline-block;
    background-color: #D54ECE;
    transform: skewX(31.11deg);
    -o-transform: skewX(31.11deg);
    -moz-transform: skewX(31.11deg);
    -webkit-transform: skewX(31.11deg);
    margin-left: 1em;
    vertical-align: middle;
}

.item {
    display: inline-block;
    padding: 0.8em 1.7em 0.8em 1.7em;
    background-color: #D54ECE;
}

.item:hover {
    background-color: #86D5E7;
}

.box {
    display: inline-block;
    transform: skewX(-31.11deg);
    -o-transform: skewX(-31.11deg);
    -moz-transform: skewX(-31.11deg);
    -webkit-transform: skewX(-31.11deg);
}

.title {
    display: inline-flex;
    font-family: 'cubano-sharp', sans-serif;
    color: #D54ECE;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 56px;
}

@import url("https://p.typekit.net/p.css?s=1&k=wpv2zax&ht=tk&f=15488.15493.15494.15495&a=28745206&app=typekit&e=css");

@font-face {
    font-family:"cubano-sharp";
    src:url("https://use.typekit.net/af/600f02/00000000000000007735a094/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/600f02/00000000000000007735a094/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/600f02/00000000000000007735a094/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    }